.gallery__item {
    display: block;
    font-size: 1.25vw;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: rgb(22, 22, 22);
    padding: 0;
    /*position: absolute;*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
    padding: 1.6666666667vw;
    border: 1px solid transparent;
    min-width: 250px;
}
.gallery__item:hover {
    border-color: rgb(241, 241, 241);
}
@media (max-width: 767px) {
    .gallery__item {
        padding: 0 4.2666666667vw;
    }
}
.gallery__item:hover .gallery__item_img img {
    transform: scale(1.02);
}
.gallery__item_img {
    height: 21.9444444444vw;
    overflow: hidden;
    position: relative;
}
@media (max-width: 767px) {
    .gallery__item_img {
        height: 38.4vw;
    }
}
.gallery__item_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    will-change: transform;
    transition: transform 0.3s;
}
.gallery__item_info {
    margin-top: 1.1111111111vw;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 767px) {
    .gallery__item_info {
        margin-top: 4.2666666667vw;
        position: relative;
    }
}
.gallery__item_num {
    color: #9D9FA6;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
@media (max-width: 767px) {
    .gallery__item_num {
        font-size: 4.2666666667vw;
    }
}
.gallery__item_like {
    width: 1.6666666667vw;
    height: 1.6666666667vw;
    background-image: url(/img/like.svg);
    background-size: contain;
    transition: transform 0.3s;
    will-change: transform;
    position: relative;
}
@media (max-width: 767px) {
    .gallery__item_like {
        width: 6.4vw;
        height: 6.4vw;
    }
}
.gallery__item_like .hintpopup {
    left: auto;
    right: -1.3888888889vw;
    width: 17.0138888889vw;
}
@media (max-width: 767px) {
    .gallery__item_like .hintpopup {
        right: -5.3333333333vw;
        width: 65.3333333333vw;
    }
}
.gallery__item_like.picked {
    background-image: url(/img/liked.svg);
}
.gallery__item_like:hover {
    transform: scale(1.2);
}
.gallery__item_addtime {
    padding: 0;
}
@media (max-width: 767px) {
    .gallery__item_addtime {
        padding: 0;
        position: absolute;
        right: 0;
        top: 2.9333333333vw;
    }
}
.gallery__item_addtime a {
    font-weight: 700;
    font-size: 0.9722222222vw;
    color: #f00;
    border-bottom: 1px solid #f00;
}
@media (max-width: 767px) {
    .gallery__item_addtime a {
        font-size: 2.6666666667vw;
    }
}
.gallery__item_addtime a:hover {
    border: none;
}
.gallery__item_price {
    font-size: 1.6666666667vw;
    line-height: 1;
    letter-spacing: 0.03em;
}
@media (max-width: 767px) {
    .gallery__item_price {
        font-size: 4.8vw;
    }
}
.gallery__item_name {
    font-family: "Kings Caslon";
    font-size: 2.2222222222vw;
    line-height: 1.3;
    letter-spacing: normal;
    margin-top: 0.5555555556vw;
    position: relative;
}
@media (max-width: 767px) {
    .gallery__item_name {
        font-size: 6.4vw;
        margin-top: 2.1333333333vw;
    }
}
.gallery__item_label {
    margin-left: 1.6666666667vw;
    display: block;
    width: fit-content;
    border-radius: 0.6944444444vw 2.2222222222vw 2.2222222222vw 0.6944444444vw;
    white-space: nowrap;
    padding: 0.3472222222vw 0.5555555556vw;
    border: 1px solid #26272D;
    font-size: 0.8333333333vw;
    line-height: 1.2;
    font-weight: 500;
    text-transform: uppercase;
    color: #26272D;
}
@media (max-width: 767px) {
    .gallery__item_label {
        margin-left: 6.4vw;
        padding: 1.3333333333vw 2.1333333333vw;
        font-size: 2.6666666667vw;
        border-radius: 1.3333333333vw 8.5333333333vw 8.5333333333vw 1.3333333333vw;
    }
}
.gallery__item_label.closed {
    background: #26272D;
    color: #fff;
}
@media (max-width: 767px) {
    .gallery__item_title {
        font-size: 4.2666666667vw;
    }
}
.gallery__item_title a {
    border-bottom: 0.0694444444vw solid #212121;
}
.gallery__item_title a:hover {
    color: #767575;
    border-color: #b0b0b0;
}
.gallery__item_technique {
    font-size: 1.1111111111vw;
}
@media (max-width: 767px) {
    .gallery__item_technique {
        font-size: 3.7333333333vw;
    }
}
.gallery__item_estimate {
    margin-top: 1.1111111111vw;
    font-size: 1.1111111111vw;
    color: #9D9FA6;
}
@media (max-width: 767px) {
    .gallery__item_estimate {
        font-size: 3.7333333333vw;
        margin-top: 2.1333333333vw;
    }
}
.gallery__item_you {
    font-size: 1.1111111111vw;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    font-weight: 500;
    text-transform: uppercase;
}
@media (max-width: 767px) {
    .gallery__item_you {
        font-size: 3.7333333333vw;
    }
}
.gallery__item_you.red {
    color: #D04135;
}
.gallery__item_you.blue {
    color: #002EA3;
}
.gallery__item_start {
    font-size: 1.1111111111vw;
    margin-top: 1.1111111111vw;
}
@media (max-width: 767px) {
    .gallery__item_start {
        font-size: 3.7333333333vw;
        margin-top: 2.1333333333vw;
    }
}
.gallery__item_start div {
    color: #9D9FA6;
}
.gallery__item_time {
    font-size: 0.9722222222vw;
}
@media (max-width: 767px) {
    .gallery__item_time {
        font-size: 2.6666666667vw;
    }
}
.gallery__item_time b {
    font-weight: 600;
}
.gallery__item_right {
    width: 45.4166666667vw;
}

.lot__stat {
    margin-top: 0.5555555556vw;
    font-size: 1.1111111111vw;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #9D9FA6;
}
@media (max-width: 767px) {
    .lot__stat {
        font-size: 4.2666666667vw;
        margin-top: 0;
    }
}
.lot__stat.hidden {
    display: none;
}
.lot__auction {
    margin-top: 2.2222222222vw;
    font-size: 1.1111111111vw;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
}
@media (max-width: 767px) {
    .lot__auction {
        font-size: 4.2666666667vw;
        margin-top: 6.4vw;
    }
}
.lot__auction_button {
    position: relative;
}
.lot__auction_button .hintpopup {
    left: 50%;
    transform: translateX(-50%);
}
.lot__auction_time {
    margin-top: 1.1111111111vw;
    text-align: center;
    color: #002EA3;
}
@media (max-width: 767px) {
    .lot__auction_time {
        margin-top: 4.2666666667vw;
    }
}

.lot__auction .lot__auction_time {
    font-size: 1.1vw;
    font-weight: 500;
    text-align: right;
    margin-bottom: 5px;
}

.lot__auction .lot__auction_time .lot__auction_time__closes_text {
    font-weight: normal;
}

@media (max-width: 767px) {
    .lot__auction .lot__auction_time {
        font-size: 3.5vw;
    }
}

.lot__auction_time a {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.13em;
}
.lot__auction_time a:hover {
    text-decoration: none;
}
.lot__auction_info {
    margin-top: 1.1111111111vw;
    text-align: center;
    color: #9D9FA6;
}

@media (max-width: 767px) {
    .lot__auction_info {
        margin-top: 4.2666666667vw;
        font-size: 3.2vw;
    }
    .lot__auction_info .infoicon {
        margin-left: 2.1333333333vw;
        width: 5.3333333333vw;
        height: 5.3333333333vw;
    }
}

.lot__finaltimer {
    text-align: right;
    color: #002EA3;
    margin-bottom: 0.5555555556vw;
}
@media (max-width: 767px) {
    .lot__finaltimer {
        margin-bottom: 2.1333333333vw;
        font-size: 3.7333333333vw;
    }
}
.lot__finaltimer .timercount {
    font-weight: 500;
    white-space: nowrap;
}
.lot__finaltimer .timercount span {
    display: inline-block;
    width: 1.7361111111vw;
    text-align: center;
}
@media (max-width: 767px) {
    .lot__finaltimer .timercount span {
        width: 5.3333333333vw;
    }
}

/*gallery__item*/
.lot__auction_time {
    font-size: 1.1vw;
    font-weight: 500;
    text-align: left;
}

.lot__auction_time__closes_text {
    font-weight: normal;
}

@media (max-width: 767px) {
    .lot__auction_time {
        font-size: 3.5vw;
    }
}
