
.auctions__item {
    margin-bottom: 4.4444444444vw;
    display: flex;
    height: 16.6666666667vw;
}
@media (max-width: 767px) {
    .auctions__item {
        height: auto;
        display: block;
        margin-bottom: 17.0666666667vw;
    }
}

.auctions__item_img {
    width: 22.2222222222vw;
    margin-right: 2.2222222222vw;
}
@media (max-width: 767px) {
    .auctions__item_img {
        width: 100%;
        margin-right: 0;
        height: 64vw;
    }
}
.auctions__item_img img {
    width: 100%;
    height: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.auctions__item_info {
    flex: 1;
    display: flex;
    flex-direction: column;
}
@media (max-width: 767px) {
    .auctions__item_info {
        display: block;
        padding-top: 4.2666666667vw;
    }
}

.auctions__item_type {
    font-size: 1.1111111111vw;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #9D9FA6;
}
@media (max-width: 767px) {
    .auctions__item_type {
        font-size: 3.2vw;
    }
}

.auctions__item_name {
    font-family: "Kings Caslon";
    font-size: 2.2222222222vw;
    line-height: 1.3;
    letter-spacing: normal;
    color: #26272D;
}
@media (max-width: 767px) {
    .auctions__item_name {
        font-size: 6.4vw;
    }
}

.auctions__item_date {
    font-size: 1.1111111111vw;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #9D9FA6;
    margin-top: 1.1111111111vw;
}
@media (max-width: 767px) {
    .auctions__item_date {
        font-size: 3.7333333333vw;
        margin-top: 2.1333333333vw;
    }
}

.auctions__item_calendar {
    margin-top: 0.5555555556vw;
    font-size: 1.1111111111vw;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #002EA3;
    cursor: pointer;
    display: flex;
    align-items: center;
}
@media (max-width: 767px) {
    .auctions__item_calendar {
        font-size: 3.7333333333vw;
        margin-top: 2.1333333333vw;
    }
}
.auctions__item_calendar::before {
    content: "";
    display: block;
    margin-right: 0.9722222222vw;
    width: 1.8055555556vw;
    height: 1.6666666667vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='24' viewBox='0 0 26 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.75 3V5.25M17.25 3V5.25M3 18.75V7.5C3 6.90326 3.23705 6.33097 3.65901 5.90901C4.08097 5.48705 4.65326 5.25 5.25 5.25H18.75C19.3467 5.25 19.919 5.48705 20.341 5.90901C20.7629 6.33097 21 6.90326 21 7.5V10.5C21 9.90326 20.7629 10.081 20.341 9.65901C19.919 9.23705 19.3467 9 18.75 9H5.25C4.65326 9 4.08097 9.23705 3.65901 9.65901C3.23705 10.081 3 10.6533 3 11.25V18.75ZM3 18.75C3 19.3467 3.23705 19.919 3.65901 20.341C4.08097 20.7629 4.65326 21 5.25 21H14' stroke='%23002EA3' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M20 15.5V18.5M21.5 17H18.5M24.5 17C24.5 17.5909 24.3836 18.1761 24.1575 18.7221C23.9313 19.268 23.5998 19.7641 23.182 20.182C22.7641 20.5998 22.268 20.9313 21.7221 21.1575C21.1761 21.3836 20.5909 21.5 20 21.5C19.4091 21.5 18.8239 21.3836 18.2779 21.1575C17.732 20.9313 17.2359 20.5998 16.818 20.182C16.4002 19.7641 16.0687 19.268 15.8425 18.7221C15.6164 18.1761 15.5 17.5909 15.5 17C15.5 15.8065 15.9741 14.6619 16.818 13.818C17.6619 12.9741 18.8065 12.5 20 12.5C21.1935 12.5 22.3381 12.9741 23.182 13.818C24.0259 14.6619 24.5 15.8065 24.5 17Z' stroke='%23002EA3' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}
@media (max-width: 767px) {
    .auctions__item_calendar::before {
        margin-right: 3.7333333333vw;
        width: 6.9333333333vw;
        height: 6.4vw;
    }
}

.auctions__item_button {
    margin-top: 1.1111111111vw;
    flex: 1;
    display: flex;
    align-items: flex-end;
}
@media (max-width: 767px) {
    .auctions__item_button {
        margin-top: 6.4vw;
    }
}
.auctions__item_button .button {
    min-width: 19.4444444444vw;
}
@media (max-width: 767px) {
    .auctions__item_button .button {
        min-width: unset;
        width: 100%;
    }
}