@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0;
  --background: #fff;
  --foreground: #161616;
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #002EA3;
  --primary-foreground: #fff;
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: #8B939F;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}


@charset "UTF-8";
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Bold.woff2") format("woff2"), url("/fonts/Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Book.woff2") format("woff2"), url("/fonts/Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-MediumItalic.woff2") format("woff2"), url("/fonts/Gotham-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Gotham";
  src: url("/fonts/Gotham-Medium.woff2") format("woff2"), url("/fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kings Caslon";
  src: url("/fonts/KingsCaslon-Regular.woff2") format("woff2"), url("/fonts/KingsCaslon-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Kings Caslon";
  src: url("/fonts/KingsCaslon-Italic.woff2") format("woff2"), url("/fonts/KingsCaslon-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2"), url("/fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.woff2") format("woff2"), url("/fonts/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

html,
body,
.wrap {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

body {
  font-family: "Gotham", Arial;
  font-weight: 400;
  color: #161616;
  background: #fff;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
a[href] {
  cursor: pointer;
}

img {
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  /*color: inherit;*/
  /*font-size: inherit;*/
  /*font-weight: inherit;*/
  /*margin: 0;*/
}

* {
  box-sizing: border-box;
}

input,
textarea,
button,
select {
  outline: none;
  /*border-radius: 0;*/
  font-family: "Gotham", Arial;
  box-shadow: none;
  user-select: auto;
}
input::placeholder,
textarea::placeholder,
button::placeholder,
select::placeholder {
  color: #8B939F;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
button:-ms-input-placeholder,
select:-ms-input-placeholder {
  color: #8B939F;
}
input::-ms-input-placeholder,
textarea::-ms-input-placeholder,
button::-ms-input-placeholder,
select::-ms-input-placeholder {
  color: #8B939F;
}

.wrap {
  overflow: hidden;
  padding-top: 4.4444444444vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.wrap.mainpage {
  padding-top: 0;
}
@media (max-width: 767px) {
  .wrap {
    padding-top: 14.9333333333vw;
  }
}
.wrap > .container {
  flex: 1;
  min-height: 27.7777777778vw;
}
@media (max-width: 767px) {
  .wrap > .container {
    min-height: 80vw;
  }
}
.wrap.mainpage {
  padding-top: 0;
}

.container {
  padding: 0 2.7777777778vw;
  position: relative;
  max-width: initial;
}
@media (max-width: 767px) {
  .container {
    padding: 0 4.2666666667vw;
  }
}

.button {
  height: 3.3333333333vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #002EA3;
  color: #fff;
  border-radius: 0.5555555556vw;
  font-size: 1.1111111111vw;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  transition: box-shadow 0.3s;
  padding: 0 2.2222222222vw;
  cursor: pointer;
  user-select: none;
}
@media (max-width: 767px) {
  .button {
    width: 100%;
    height: 12.8vw;
    border-radius: 2.1333333333vw;
    font-size: 4.2666666667vw;
    font-weight: 500;
  }
}
.button_border {
  border: 0.1388888889vw solid #26272D;
  background: none;
  color: #26272D;
}
@media (max-width: 767px) {
  .button_border {
    border-width: 0.5333333333vw;
  }
}
.button_wborder {
  border: 0.1388888889vw solid #fff;
  background: none;
  color: #fff;
}
@media (max-width: 767px) {
  .button_wborder {
    border-width: 0.5333333333vw;
  }
}
.button_white {
  border: 0.1388888889vw solid #26272D;
  background: #fff;
  color: #26272D;
}
@media (max-width: 767px) {
  .button_white {
    border-width: 0.5333333333vw;
  }
}
.button_white.disabled {
  background-color: #D7D7DA;
  border-color: #D7D7DA;
  color: #fff;
}
.button.disabled {
  pointer-events: none;
}
.button_grey {
  background-color: #D7D7DA;
}
.button_disabled {
  pointer-events: none;
  background-color: #D7D7DA;
}
.button_small {
  width: 3.3333333333vw;
  height: 3.3333333333vw;
  background-image: url('/img/arrow_white.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 0.9722222222vw;
  padding: 0;
}
@media (max-width: 767px) {
  .button_small {
    width: 12.8vw;
    height: 12.8vw;
    border-radius: 2.1333333333vw;
    background-size: auto 3.7333333333vw;
  }
}
.button:not(.button_nohover):not(.disabled):hover {
  box-shadow: 6px 6px 30px 3px rgba(53, 46, 42, 0.2);
}

.select {
  position: relative;
  white-space: nowrap;
}
.select select {
  display: none;
}
.select__val {
  position: relative;
  padding-right: 2.2222222222vw;
  cursor: pointer;
  user-select: none;
}
.select__val::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0.3472222222vw;
  width: 0.625vw;
  height: 100%;
  background: url(/img/arrow.svg) center no-repeat;
  background-size: contain;
  transform: rotate(90deg);
}
.select__options {
  display: none;
  position: absolute;
  z-index: 10;
  top: 100%;
  margin-top: 0.3472222222vw;
  left: -1.0416666667vw;
  padding: 0.4861111111vw 1.0416666667vw;
  min-width: 100%;
  box-sizing: content-box;
  left: -1.6666666667vw;
  padding: 0.9722222222vw 1.6666666667vw;
  background: #fff;
  color: #26272D;
  box-shadow: 0.1388888889vw 0.1388888889vw 1.3888888889vw 0.1388888889vw rgba(38, 39, 45, 0.15);
}
.select__options.open {
  display: block;
}
.select__title {
  padding: 0.2083333333vw 1.0416666667vw;
  opacity: 0.5;
  margin: 0 -1.0416666667vw;
}
.select__option {
  padding: 0.2083333333vw 1.0416666667vw;
  margin: 0 -1.6666666667vw;
  padding: 0.6944444444vw 1.6666666667vw;
  cursor: pointer;
}
.select__option:hover {
  background: #F5F4F4;
}
.select__option.active {
  background: #F5F4F4;
}
.select_2 {
  border: 0.0694444444vw solid #212121;
  border-radius: 0.2777777778vw;
  height: 3.3333333333vw;
  padding: 0 0.5555555556vw;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .select_2 {
    height: 100%;
    border-radius: 1.0666666667vw;
    border-width: 0.2666666667vw;
  }
}
.select_2 .select__val {
  width: 100%;
}
.select_2 .select__val::after {
  height: 100%;
  width: 0.8333333333vw;
  top: 0;
  right: 0.4166666667vw;
  background-image: url(/img/arrow4.svg);
  transform: none;
}
.select_2 .select__options {
  left: 0;
  padding-left: 0.5555555556vw;
  padding-right: 0.5555555556vw;
  box-sizing: border-box;
}
.select_2 .select__option {
  margin: 0 -0.5555555556vw;
  padding-left: 0.5555555556vw;
  padding-right: 0.5555555556vw;
}
.select.multiple .select__option {
  margin-bottom: 0.2777777778vw;
}
.select.multiple .select__option:last-child {
  margin-bottom: 0;
}
.select.multiple .select__option:hover, .select.multiple .select__option.active {
  background: none;
}
.select.multiple .checkbox__text::before {
  width: 1.3194444444vw;
  height: 1.3194444444vw;
  margin-top: -0.6944444444vw;
}
.select.multiple .checkbox__text::after {
  width: 1.4583333333vw;
  height: 1.4583333333vw;
  margin-top: -0.9722222222vw;
}
.select.range .select__options {
  white-space: nowrap;
}
.select.range .select__options input {
  border: 0.1388888889vw solid #26272D;
  border-radius: 0.5555555556vw;
  padding: 0 1.1111111111vw;
  font-size: 1.25vw;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.01em;
  width: 9.375vw;
  height: 3.3333333333vw;
}
.select.range .select__options input:focus {
  border-color: rgba(8, 54, 170, 0.8);
}
.select.range .button {
  display: inline-flex;
  margin-left: 0.6944444444vw;
}
.select:hover .select__val, .select.opened .select__val {
  color: #767575;
}
.select:hover .select__val::after, .select.opened .select__val::after {
  opacity: 0.5;
}


.hintpopupParent:hover .hintpopup {
  opacity: 1;
}

.hintpopup {
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-bottom: 0.2777777778vw;
  max-width: 27.7777777778vw;
  background: #fff;
  z-index: 11;
  border: 0.0694444444vw solid #EFF0F5;
  box-shadow: 0.1388888889vw 0.1388888889vw 1.3888888889vw 0.1388888889vw rgba(38, 39, 45, 0.15);
  border-radius: 0.5555555556vw;
  padding: 0.5555555556vw 1.1111111111vw;
  color: #767E94;
  font-size: 0.8333333333vw;
  line-height: 1.5;
  font-weight: 400;
  text-transform: none;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  width: 17vw;
  left: auto;
  right: 0;
}
@media (max-width: 767px) {
  .hintpopup {
    box-shadow: 0.5333333333vw 0.5333333333vw 5.3333333333vw 0.5333333333vw rgba(38, 39, 45, 0.15);
    margin-bottom: 1.0666666667vw;
    max-width: 66.6666666667vw;
    border-radius: 2.1333333333vw;
    padding: 2.1333333333vw 4.2666666667vw;
    font-size: 3.2vw;
    margin-bottom: 1.0666666667vw;
  }
}



